{% extends 'subpages/base.html' %}

{% block title %} Sign Up {% endblock %}

{% block header %} {% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="w-100" style="max-width: 800px;">
        <div class="card p-4 shadow">
            <h1 class="display-2">F@irview</h1>
            <h2 class="display-5">Sign Up</h2>
            <div id="feedback_container" class="mt-2"></div>
            <form method="POST" action="/sign-up" hx-post="/sign-up" hx-target="#feedback_container">
                <div class="mb-3">
                    <label for="forename_input" class="form-label">Forename</label>
                    <input type="text" name="forename_input" class="form-control" id="forename_input"
                        autocomplete="given-name">
                </div>
                <div class="mb-3">
                    <label for="surname_input" class="form-label">Surname</label>
                    <input type="text" name="surname_input" class="form-control" id="surname_input"
                        autocomplete="family-name">
                </div>
                <div class="mb-3">
                    <label for="email_input" class="form-label">Email address</label>
                    <input type="email" name="email_input" class="form-control" id="email_input" autocomplete="email"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Please ensure that your email is unique!</div>
                </div>
                <div class="mb-3">
                    <label for="affiliation_input" class="form-label">Affiliation</label>
                    <input type="text" name="affiliation_input" class="form-control" id="affiliation_input">
                </div>
                <div class="mb-3">
                    <label for="password_input" class="form-label">Password</label>
                    <input type="password" name="password_input" class="form-control" id="password_input"
                        autocomplete="new-password">
                </div>
                <div class="mb-3">
                    <label for="role_input" class="form-label">Role</label>
                    <select name="role_input" id="role_input" class="form-select">
                        <option>Speaker</option>
                        <option>Reviewer</option>
                        <option>Conference Manager</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <p class="mt-4 mb-0"><a href="/login">Already have an account? Log In!</a></p>
        </div>
    </div>
</div>
{% endblock %}