<nav class="navbar navbar-expand-lg bg-body-tertiary fs-5">
    <div class="container-fluid">
        <a class="navbar-brand fs-3 fw-bold" href="/dashboard">F@irview</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active {% if request.path == '/dashboard' %} fw-bold {% endif %}"
                        aria-current="page" href="dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active {% if request.path == '/conferences' %} fw-bold {% endif %}"
                        aria-current="page" href="conferences">Conferences</a>
                </li>
            </ul>
            <div class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ezra, J
                </button>
                <form method="POST" action="/log-out" class="dropdown-menu dropdown-menu-end">
                    <button type="submit" class="dropdown-item"> Log Out </button>
                </form>
            </div>
        </div>
    </div>
</nav>